In [3]:
import numpy as np
import pandas as pd
import utils
import seaborn as sn
import matplotlib.pyplot as plt

In [4]:
data = pd.read_csv('data/results.csv', index_col=0)
data.head()

,EXT1,EXT2,EXT3,EXT4,EXT5,EXT6,EXT7,EXT8,EXT9,EXT10,...,_OPN9,_OPN10,EXT,EST,AGR,CSN,OPN,MAX_SCORE,WINNER,CONFLICT
0,4.0,1.0,5.0,2.0,5.0,1.0,5.0,2.0,4.0,1.0,...,4.0,5.0,46.0,36.0,39.0,32.0,45.0,46.0,EXT,False
1,3.0,5.0,3.0,4.0,3.0,3.0,2.0,5.0,1.0,5.0,...,5.0,3.0,20.0,35.0,40.0,37.0,35.0,40.0,AGR,False
2,2.0,3.0,4.0,4.0,3.0,2.0,1.0,3.0,2.0,5.0,...,4.0,4.0,25.0,34.0,40.0,34.0,41.0,41.0,OPN,False
3,2.0,2.0,2.0,3.0,4.0,2.0,2.0,4.0,1.0,4.0,...,3.0,3.0,26.0,31.0,38.0,25.0,39.0,39.0,OPN,False
4,3.0,3.0,3.0,3.0,5.0,3.0,3.0,5.0,3.0,4.0,...,5.0,5.0,29.0,41.0,42.0,48.0,48.0,48.0,CSN,True

In [5]:
data=data.drop(['WINNER','CONFLICT'], axis=1)
data.head()

,EXT1,EXT2,EXT3,EXT4,EXT5,EXT6,EXT7,EXT8,EXT9,EXT10,...,_OPN7,_OPN8,_OPN9,_OPN10,EXT,EST,AGR,CSN,OPN,MAX_SCORE
0,4.0,1.0,5.0,2.0,5.0,1.0,5.0,2.0,4.0,1.0,...,5.0,3.0,4.0,5.0,46.0,36.0,39.0,32.0,45.0,46.0
1,3.0,5.0,3.0,4.0,3.0,3.0,2.0,5.0,1.0,5.0,...,4.0,2.0,5.0,3.0,20.0,35.0,40.0,37.0,35.0,40.0
2,2.0,3.0,4.0,4.0,3.0,2.0,1.0,3.0,2.0,5.0,...,5.0,3.0,4.0,4.0,25.0,34.0,40.0,34.0,41.0,41.0
3,2.0,2.0,2.0,3.0,4.0,2.0,2.0,4.0,1.0,4.0,...,4.0,4.0,3.0,3.0,26.0,31.0,38.0,25.0,39.0,39.0
4,3.0,3.0,3.0,3.0,5.0,3.0,3.0,5.0,3.0,4.0,...,5.0,3.0,5.0,5.0,29.0,41.0,42.0,48.0,48.0,48.0

In [6]:
data['TYPE']=None
data['CORR']=None
data.head()

,EXT1,EXT2,EXT3,EXT4,EXT5,EXT6,EXT7,EXT8,EXT9,EXT10,...,_OPN9,_OPN10,EXT,EST,AGR,CSN,OPN,MAX_SCORE,TYPE,CORR
0,4.0,1.0,5.0,2.0,5.0,1.0,5.0,2.0,4.0,1.0,...,4.0,5.0,46.0,36.0,39.0,32.0,45.0,46.0,None,None
1,3.0,5.0,3.0,4.0,3.0,3.0,2.0,5.0,1.0,5.0,...,5.0,3.0,20.0,35.0,40.0,37.0,35.0,40.0,None,None
2,2.0,3.0,4.0,4.0,3.0,2.0,1.0,3.0,2.0,5.0,...,4.0,4.0,25.0,34.0,40.0,34.0,41.0,41.0,None,None
3,2.0,2.0,2.0,3.0,4.0,2.0,2.0,4.0,1.0,4.0,...,3.0,3.0,26.0,31.0,38.0,25.0,39.0,39.0,None,None
4,3.0,3.0,3.0,3.0,5.0,3.0,3.0,5.0,3.0,4.0,...,5.0,5.0,29.0,41.0,42.0,48.0,48.0,48.0,None,None

In [7]:
rows = list(range(50))
rows.extend([100, 101, 102, 103, 104])
print(rows)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 100, 101, 102, 103, 104]

In [8]:
data.iloc[1].iloc[rows]

EXT1      3.0
EXT2      5.0
EXT3      3.0
EXT4      4.0
EXT5      3.0
EXT6      3.0
EXT7      2.0
EXT8      5.0
EXT9      1.0
EXT10     5.0
EST1      2.0
EST2      3.0
EST3      4.0
EST4      1.0
EST5      3.0
EST6      1.0
EST7      2.0
EST8      1.0
EST9      3.0
EST10     1.0
AGR1      1.0
AGR2      4.0
AGR3      1.0
AGR4      5.0
AGR5      1.0
AGR6      5.0
AGR7      3.0
AGR8      4.0
AGR9      5.0
AGR10     3.0
CSN1      3.0
CSN2      2.0
CSN3      5.0
CSN4      3.0
CSN5      3.0
CSN6      1.0
CSN7      3.0
CSN8      3.0
CSN9      5.0
CSN10     3.0
OPN1      1.0
OPN2      2.0
OPN3      4.0
OPN4      2.0
OPN5      3.0
OPN6      1.0
OPN7      4.0
OPN8      2.0
OPN9      5.0
OPN10     3.0
EXT      20.0
EST      35.0
AGR      40.0
CSN      37.0
OPN      35.0
Name: 1, dtype: object

In [9]:
def data_type_create(min_corr):
    data['TYPE']=None
    data['CORR']=None
    i=1
    min_corr=0.9
    rows = list(range(50))
    rows.extend([100, 101, 102, 103, 104])
    for index1, row1 in data.iloc[:].iterrows():
        count=0
        if data.iloc[index1]['TYPE']==None:
    #         print('index1:', i, index1)
            print(i)
            data.at[index1,'TYPE']=i
            for index2, row2 in data.iloc[:].iterrows():
    #             print(np.corrcoef(row1.iloc[:50].tolist(), row2.iloc[:50].tolist())[0][1])
    #             print('index2:', index2, np.corrcoef(data.iloc[index1,100:105].tolist(), data.iloc[index2,100:105].tolist())[0][1])
                corr = np.corrcoef(row1.iloc[rows].tolist(), row2.iloc[rows].tolist())[0][1]
                if (corr >= min_corr and data.iloc[index2]['CORR']==None) or (corr >= min_corr and data.iloc[index2]['CORR'] < corr) :
                    data.at[index2,'TYPE']=i
                    data.at[index2,'CORR']=corr
                    count+=1
            print('count:', count)
            if count <= 5:
                for index3, row3 in data[data['TYPE']==i].iloc[:].iterrows():
                    data.at[index3,'TYPE']=0
            else:
                i=i+1
        else:
            pass

    data.head()

In [ ]:
data_type_create(0.96)
corr=0.96
while data['TYPE'].unique().size >= 20:
    corr-=0.2
    data_type_create(corr)

print(data['TYPE'].unique().size)
print(corr)

1
count: 909209
2
count: 167308
3
count: 90286
4
count: 37764
5
count: 7983
6
count: 30894
7
count: 73167
8
count: 306
9
count: 4493
10
count: 115
11
count: 12217
12
count: 88894
13
count: 3015
14
count: 144
15
count: 112
16
count: 4193
17
count: 801
18
count: 52
19
count: 5410
20
count: 1586
21
count: 3502
22
count: 408
23
count: 23
24
count: 13
25
count: 27
26
count: 195
27
count: 0
30
count: 0
30

In [119]:
data['TYPE'].value_counts()

10    194
5     120
2     116
3      89
1      84
0      79
9      68
19     39
7      29
13     27
16     27
8      22
15     17
12     16
6      14
17     13
18     12
4      10
20      9
14      8
11      7
Name: TYPE, dtype: int64

In [20]:
data['TYPE'].unique().size

2

In [110]:
data.head()

,EXT1,EXT2,EXT3,EXT4,EXT5,EXT6,EXT7,EXT8,EXT9,EXT10,...,_OPN9,_OPN10,EXT,EST,AGR,CSN,OPN,MAX_SCORE,TYPE,CORR
0,4.0,1.0,5.0,2.0,5.0,1.0,5.0,2.0,4.0,1.0,...,4.0,5.0,46.0,36.0,39.0,32.0,45.0,46.0,0,1.0
1,3.0,5.0,3.0,4.0,3.0,3.0,2.0,5.0,1.0,5.0,...,5.0,3.0,20.0,35.0,40.0,37.0,35.0,40.0,1,1.0
2,2.0,3.0,4.0,4.0,3.0,2.0,1.0,3.0,2.0,5.0,...,4.0,4.0,25.0,34.0,40.0,34.0,41.0,41.0,1,0.864958
3,2.0,2.0,2.0,3.0,4.0,2.0,2.0,4.0,1.0,4.0,...,3.0,3.0,26.0,31.0,38.0,25.0,39.0,39.0,2,1.0
4,3.0,3.0,3.0,3.0,5.0,3.0,3.0,5.0,3.0,4.0,...,5.0,5.0,29.0,41.0,42.0,48.0,48.0,48.0,7,0.906986

In [106]:
data.iloc[2]['TYPE']

3

In [ ]:
data.to_csv('data/results_corr70.csv')