In [2]:
import numpy as np
import pandas as pd
import utils

In [18]:
data = pd.read_csv('data/data-final.csv',sep='\t')
data.head()

,EXT1,EXT2,EXT3,EXT4,EXT5,EXT6,EXT7,EXT8,EXT9,EXT10,...,dateload,screenw,screenh,introelapse,testelapse,endelapse,IPC,country,lat_appx_lots_of_err,long_appx_lots_of_err
0,4.0,1.0,5.0,2.0,5.0,1.0,5.0,2.0,4.0,1.0,...,2016-03-03 02:01:01,768.0,1024.0,9.0,234.0,6,1,GB,51.5448,0.1991
1,3.0,5.0,3.0,4.0,3.0,3.0,2.0,5.0,1.0,5.0,...,2016-03-03 02:01:20,1360.0,768.0,12.0,179.0,11,1,MY,3.1698,101.706
2,2.0,3.0,4.0,4.0,3.0,2.0,1.0,3.0,2.0,5.0,...,2016-03-03 02:01:56,1366.0,768.0,3.0,186.0,7,1,GB,54.9119,-1.3833
3,2.0,2.0,2.0,3.0,4.0,2.0,2.0,4.0,1.0,4.0,...,2016-03-03 02:02:02,1920.0,1200.0,186.0,219.0,7,1,GB,51.75,-1.25
4,3.0,3.0,3.0,3.0,5.0,3.0,3.0,5.0,3.0,4.0,...,2016-03-03 02:02:57,1366.0,768.0,8.0,315.0,17,2,KE,1.0,38.0

In [19]:
ipc = data[data['IPC']!=1].copy()

In [22]:
print(ipc.info())
print(ipc)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 318496 entries, 4 to 1015338
Columns: 110 entries, EXT1 to long_appx_lots_of_err
dtypes: float64(104), int64(2), object(4)
memory usage: 269.7+ MB
None
         EXT1  EXT2  EXT3  EXT4  EXT5  EXT6  EXT7  EXT8  EXT9  EXT10  ...  \
4         3.0   3.0   3.0   3.0   5.0   3.0   3.0   5.0   3.0    4.0  ...
17        4.0   1.0   5.0   2.0   4.0   2.0   3.0   2.0   4.0    2.0  ...
26        4.0   1.0   5.0   3.0   5.0   1.0   5.0   5.0   5.0    1.0  ...
32        3.0   2.0   4.0   2.0   2.0   3.0   3.0   2.0   4.0    4.0  ...
39        5.0   1.0   5.0   2.0   5.0   1.0   5.0   2.0   4.0    2.0  ...
...       ...   ...   ...   ...   ...   ...   ...   ...   ...    ...  ...
1015328   2.0   2.0   5.0   4.0   5.0   2.0   5.0   4.0   2.0    4.0  ...
1015330   3.0   3.0   4.0   2.0   4.0   3.0   2.0   3.0   2.0    3.0  ...
1015333   1.0   2.0   2.0   3.0   1.0   2.0   1.0   3.0   3.0    5.0  ...
1015336   4.0   2.0   4.0   3.0   4.0   3.0   3.0   3.0   3.0    3.0  ...
1015338   4.0   2.0   4.0   3.0   5.0   1.0   4.0   2.0   4.0    4.0  ...

                    dateload  screenw  screenh  introelapse  testelapse  \
4        2016-03-03 02:02:57   1366.0    768.0          8.0       315.0
17       2016-03-03 02:14:27   1536.0    864.0        229.0       388.0
26       2016-03-03 02:23:23   1600.0   1200.0         24.0       940.0
32       2016-03-03 02:33:42    768.0   1024.0         33.0       305.0
39       2016-03-03 02:42:18   1440.0    900.0          4.0       224.0
...                      ...      ...      ...          ...         ...
1015328  2018-11-08 11:58:32   1366.0    768.0         16.0       206.0
1015330  2018-11-08 11:59:55   1440.0    900.0         21.0       150.0
1015333  2018-11-08 12:01:59    375.0    812.0          6.0       171.0
1015336  2018-11-08 12:04:58   1920.0   1080.0          3.0       160.0
1015338  2018-11-08 12:07:49   1920.0   1080.0          2.0       135.0

         endelapse  IPC  country  lat_appx_lots_of_err  long_appx_lots_of_err
4               17    2       KE                   1.0                   38.0
17              26    6       NL               51.9225                 4.4792
26               8    3       GB                  51.5                  -0.13
32               8    2       FR                44.737                 2.1233
39              12    3       GB                  51.5                  -0.13
...            ...  ...      ...                   ...                    ...
1015328         19    2       US               32.2217              -110.9265
1015330          8   21       US               41.7354              -122.6345
1015333         11   15       US               35.2523               -97.4603
1015336         10    2       US               39.9883               -75.2208
1015338         12    6       US               36.1473                -86.777

[318496 rows x 110 columns]

In [23]:
data = data[data['IPC']==1]
data=data.reset_index(drop=True)
data.head()

,EXT1,EXT2,EXT3,EXT4,EXT5,EXT6,EXT7,EXT8,EXT9,EXT10,...,dateload,screenw,screenh,introelapse,testelapse,endelapse,IPC,country,lat_appx_lots_of_err,long_appx_lots_of_err
0,4.0,1.0,5.0,2.0,5.0,1.0,5.0,2.0,4.0,1.0,...,2016-03-03 02:01:01,768.0,1024.0,9.0,234.0,6,1,GB,51.5448,0.1991
1,3.0,5.0,3.0,4.0,3.0,3.0,2.0,5.0,1.0,5.0,...,2016-03-03 02:01:20,1360.0,768.0,12.0,179.0,11,1,MY,3.1698,101.706
2,2.0,3.0,4.0,4.0,3.0,2.0,1.0,3.0,2.0,5.0,...,2016-03-03 02:01:56,1366.0,768.0,3.0,186.0,7,1,GB,54.9119,-1.3833
3,2.0,2.0,2.0,3.0,4.0,2.0,2.0,4.0,1.0,4.0,...,2016-03-03 02:02:02,1920.0,1200.0,186.0,219.0,7,1,GB,51.75,-1.25
5,3.0,3.0,4.0,2.0,4.0,2.0,2.0,3.0,3.0,4.0,...,2016-03-03 02:03:12,1600.0,1000.0,4.0,196.0,3,1,SE,59.3333,18.05

In [24]:
data = data.iloc[: , :50]

In [25]:
data.head()

,EXT1,EXT2,EXT3,EXT4,EXT5,EXT6,EXT7,EXT8,EXT9,EXT10,...,OPN1,OPN2,OPN3,OPN4,OPN5,OPN6,OPN7,OPN8,OPN9,OPN10
0,4.0,1.0,5.0,2.0,5.0,1.0,5.0,2.0,4.0,1.0,...,5.0,1.0,4.0,1.0,4.0,1.0,5.0,3.0,4.0,5.0
1,3.0,5.0,3.0,4.0,3.0,3.0,2.0,5.0,1.0,5.0,...,1.0,2.0,4.0,2.0,3.0,1.0,4.0,2.0,5.0,3.0
2,2.0,3.0,4.0,4.0,3.0,2.0,1.0,3.0,2.0,5.0,...,5.0,1.0,2.0,1.0,4.0,2.0,5.0,3.0,4.0,4.0
3,2.0,2.0,2.0,3.0,4.0,2.0,2.0,4.0,1.0,4.0,...,4.0,2.0,5.0,2.0,3.0,1.0,4.0,4.0,3.0,3.0
5,3.0,3.0,4.0,2.0,4.0,2.0,2.0,3.0,3.0,4.0,...,5.0,1.0,5.0,1.0,3.0,1.0,5.0,4.0,5.0,2.0

In [26]:
data['_EXT1']=data['EXT1']
data['_EXT2']=6-data['EXT2']
data['_EXT3']=data['EXT3']
data['_EXT4']=6-data['EXT4']
data['_EXT5']=data['EXT5']
data['_EXT6']=6-data['EXT6']
data['_EXT7']=data['EXT7']
data['_EXT8']=6-data['EXT8']
data['_EXT9']=data['EXT9']
data['_EXT10']=6-data['EXT10']

In [27]:
data['_EST1']=6-data['EST1']
data['_EST2']=data['EST2']
data['_EST3']=6-data['EST3']
data['_EST4']=data['EST4']
data['_EST5']=6-data['EST5']
data['_EST6']=6-data['EST6']
data['_EST7']=6-data['EST7']
data['_EST8']=6-data['EST8']
data['_EST9']=6-data['EST9']
data['_EST10']=6-data['EST10']

In [28]:
data['_AGR1']=6-data['AGR1']
data['_AGR2']=data['AGR2']
data['_AGR3']=6-data['AGR3']
data['_AGR4']=data['AGR4']
data['_AGR5']=6-data['AGR5']
data['_AGR6']=data['AGR6']
data['_AGR7']=6-data['AGR7']
data['_AGR8']=data['AGR8']
data['_AGR9']=data['AGR9']
data['_AGR10']=data['AGR10']

In [29]:
data['_CSN1']=data['CSN1']
data['_CSN2']=6-data['CSN2']
data['_CSN3']=data['CSN3']
data['_CSN4']=6-data['CSN4']
data['_CSN5']=data['CSN5']
data['_CSN6']=6-data['CSN6']
data['_CSN7']=data['CSN7']
data['_CSN8']=6-data['CSN8']
data['_CSN9']=data['CSN9']
data['_CSN10']=data['CSN10']

In [30]:
data['_OPN1']=data['OPN1']
data['_OPN2']=6-data['OPN2']
data['_OPN3']=data['OPN3']
data['_OPN4']=6-data['OPN4']
data['_OPN5']=data['OPN5']
data['_OPN6']=6-data['OPN6']
data['_OPN7']=data['OPN7']
data['_OPN8']=data['OPN8']
data['_OPN9']=data['OPN9']
data['_OPN10']=data['OPN10']

In [31]:
data.head()

,EXT1,EXT2,EXT3,EXT4,EXT5,EXT6,EXT7,EXT8,EXT9,EXT10,...,_OPN1,_OPN2,_OPN3,_OPN4,_OPN5,_OPN6,_OPN7,_OPN8,_OPN9,_OPN10
0,4.0,1.0,5.0,2.0,5.0,1.0,5.0,2.0,4.0,1.0,...,5.0,5.0,4.0,5.0,4.0,5.0,5.0,3.0,4.0,5.0
1,3.0,5.0,3.0,4.0,3.0,3.0,2.0,5.0,1.0,5.0,...,1.0,4.0,4.0,4.0,3.0,5.0,4.0,2.0,5.0,3.0
2,2.0,3.0,4.0,4.0,3.0,2.0,1.0,3.0,2.0,5.0,...,5.0,5.0,2.0,5.0,4.0,4.0,5.0,3.0,4.0,4.0
3,2.0,2.0,2.0,3.0,4.0,2.0,2.0,4.0,1.0,4.0,...,4.0,4.0,5.0,4.0,3.0,5.0,4.0,4.0,3.0,3.0
5,3.0,3.0,4.0,2.0,4.0,2.0,2.0,3.0,3.0,4.0,...,5.0,5.0,5.0,5.0,3.0,5.0,5.0,4.0,5.0,2.0

In [32]:
data[data.columns[[x.startswith("_EXT") for x in data.columns]]]

         _EXT1  _EXT2  _EXT3  _EXT4  _EXT5  _EXT6  _EXT7  _EXT8  _EXT9  _EXT10
0          4.0    5.0    5.0    4.0    5.0    5.0    5.0    4.0    4.0     5.0
1          3.0    1.0    3.0    2.0    3.0    3.0    2.0    1.0    1.0     1.0
2          2.0    3.0    4.0    2.0    3.0    4.0    1.0    3.0    2.0     1.0
3          2.0    4.0    2.0    3.0    4.0    4.0    2.0    2.0    1.0     2.0
5          3.0    3.0    4.0    4.0    4.0    4.0    2.0    3.0    3.0     2.0
...        ...    ...    ...    ...    ...    ...    ...    ...    ...     ...
1015334    4.0    5.0    4.0    4.0    4.0    3.0    3.0    4.0    3.0     4.0
1015335    5.0    5.0    5.0    4.0    4.0    4.0    3.0    5.0    5.0     5.0
1015337    4.0    3.0    4.0    3.0    3.0    3.0    4.0    2.0    3.0     3.0
1015339    2.0    2.0    3.0    2.0    2.0    4.0    1.0    2.0    2.0     2.0
1015340    4.0    4.0    4.0    4.0    4.0    5.0    4.0    4.0    4.0     2.0

[696845 rows x 10 columns]

In [33]:
# max_score=[]
# winner=[]
EXT=[]
EST=[]
AGR=[]
CSN=[]
OPN=[]
# conflict=[]
for index, row in data.iterrows():
    ext = sum(row[data.columns[[x.startswith("_EXT") for x in data.columns]]])
    est = sum(row[data.columns[[x.startswith("_EST") for x in data.columns]]])
    agr = sum(row[data.columns[[x.startswith("_AGR") for x in data.columns]]])
    csn = sum(row[data.columns[[x.startswith("_CSN") for x in data.columns]]])
    opn = sum(row[data.columns[[x.startswith("_OPN") for x in data.columns]]])
    EXT.append(ext)
    EST.append(est)
    AGR.append(agr)
    CSN.append(csn)
    OPN.append(opn)
#     result = {'EXT':ext, 'EST':est, 'AGR':agr, 'CSN':csn, 'OPN':opn}
#     max_score.append(max(result.values()))
#     winner.append(max(result, key=result.get))
#     if len([k for k, v in result.items() if v == max(result.values())])>1:
#         conflict.append(True)
#     else:
#         conflict.append(False)

data['EXT']=EXT
data['EST']=EST
data['AGR']=AGR
data['CSN']=CSN
data['OPN']=OPN
# data['MAX_SCORE']=max_score
# data['WINNER']=winner
# data['CONFLICT']=conflict

In [6]:
data.to_csv('data/results_fix.csv')

In [7]:
data.head()

,EXT1,EXT2,EXT3,EXT4,EXT5,EXT6,EXT7,EXT8,EXT9,EXT10,...,_OPN6,_OPN7,_OPN8,_OPN9,_OPN10,EXT,EST,AGR,CSN,OPN
0,4.0,1.0,5.0,2.0,5.0,1.0,5.0,2.0,4.0,1.0,...,5.0,5.0,3.0,4.0,5.0,46.0,36.0,39.0,32.0,45.0
1,3.0,5.0,3.0,4.0,3.0,3.0,2.0,5.0,1.0,5.0,...,5.0,4.0,2.0,5.0,3.0,20.0,35.0,44.0,37.0,35.0
2,2.0,3.0,4.0,4.0,3.0,2.0,1.0,3.0,2.0,5.0,...,4.0,5.0,3.0,4.0,4.0,25.0,34.0,42.0,34.0,41.0
3,2.0,2.0,2.0,3.0,4.0,2.0,2.0,4.0,1.0,4.0,...,5.0,4.0,4.0,3.0,3.0,26.0,31.0,38.0,25.0,39.0
4,3.0,3.0,4.0,2.0,4.0,2.0,2.0,3.0,3.0,4.0,...,5.0,5.0,4.0,5.0,2.0,32.0,38.0,38.0,37.0,44.0